	<div class="generic-container">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<span class="lead">Inventory Management - List of Film </span>
			</div>
			<div class="tablecontainer">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>ID.</th>
							<th>Film</th>
							<th width="20%"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="film in ctrl.films">
							<td><span ng-bind="film.filmId"></span></td>
							<td><span ng-bind="film.title"></span></td>
							<td>
								<button type="button" ng-click="ctrl.createInventory(film)"
									class="btn btn-success custom-width">Add</button><!-- disabled='{{film.quantity > 0 ? "false" : "true"}}' -->
								<button type="button" ng-click="ctrl.deleteInventory(film)" 
									class="btn btn-danger custom-width">Remove</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

